<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunny.leaveme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.MonitorService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".services.MonitorService$receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.ScreenBlockerActivity" />
        <activity android:name=".activities.ScheduleActivity" />
        <activity android:name=".activities.ScheduleItemActivity" />

        <service
            android:name=".services.ManagerService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name=".services.ManagerService$receiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmHelper$AlarmBroadcastReceiver" />

        <activity android:name=".activities.WhitelistActivity" />

        <receiver
            android:name=".receivers.PackageUpdatedReceiver">
            <intent-filter>
                <action android:name="com.sunny.leaveme.ACTION_CHECK_PACKAGE_UPDATE" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>